.list-items{
    width: 100%;
}

.approval-customer-list .list-items > :first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.approval-customer-list .list-items > :last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
