
.catalog-order-specification-list span{
    font-size: var(--small-font-size);
}

.specification-title-mobile
{
    font-size: var(--p-font-size);
    color: var(--p-font-size);
    font-family: var(--body-font-family) !important;
}

.catalog-order-specification-list{
    width: 300px;
}

.border{
    border-color: var(--primary-dark-color) !important;
}

.specification-item-add-new > i{
    font-size: var(--bootstrap-icon-size-medium);
}

.specification-list-item-remove{
    height: 40px;
    width: 20px;
}

.specification-list-item-remove:hover > * ,
.specification-item-add-new:hover > * {
    color: var(--dark-color) !important;
}