.list-items{
    width: 100%;
}

.customer-account-oder-list-section .list-items > :first-child {
    border-radius: 15px 15px 0px 0px;
}

.customer-account-oder-list-section .list-items > :last-child {
    border-radius: 0px 0px 15px 15px;
}