.list-items{
    width: 100%;
}

.customer-account-oder-list-content .list-items > :first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.customer-account-oder-list-content .list-items > :last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}