.section-order {
    font-family: var(--catalog-font-family);
}

.section-order button
{
    font-size: var(--mini-font-size);
}

.section-order .title{
    font-weight: bold;
    font-size: var(--p-font-size);
    padding-left: 15px;
    min-height: 38px;
    align-content: center;
}

.panel-control button{
    min-width: 130px;
}

/*CONFIGURATOR STYLE*/

.order-item-facade-configurator-form input,
.order-item-facade-configurator-form select
{
    border: 1px solid var(--primary-dark-color);
    border-radius: 5px;
    height: 40px;
}

.order-item-facade-configurator-form label{
    font-size: var(--small-font-size);
}