.order-item-facade-configurator-form input,
.order-item-facade-configurator-form select
{
    border: 1px solid var(--primary-dark-color);
    border-radius: 5px;
    height: 40px;
}

.order-item-facade-configurator-form label{
    font-size: var(--small-font-size);
}