.kitchen-type{
    width: 100%;
}

.kitchen-type-list
{
    width: 100%;
    /*padding: 0 40px;*/
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 14px;
}

.kitchen-type-item > p{
    color: var(--dark-color);
}

.kitchen-type-item:hover * {
    color: var(--p-color);
}

.active > * {
    color: var(--p-color) !important;
}

.kitchen-type-list > .active {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.kitchen-type-item{
    cursor: pointer;
    max-width: 100%;
}

.kitchen-type-item > block > img{
    overflow: hidden;
    object-fit: fill;
}