body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
    background: var(--body-color);
    font-family: var(--body-font-family);    
    position: relative;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--grey-color);
  line-height: inherit;
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: 54px;
  line-height: normal;
}
@media(max-width:460px){
  h1 {
    font-size: 40px;
  }
}
h2 {
  font-size: 42px;
}
@media(max-width:460px){
  h2 {
    font-size: 35px;
  }
}
h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}



@media(max-width:460px){
  p {
    font-size: var(--p-font-size-mobile);
    line-height: 30px;
  }
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}
/*---------------------------------------
MAIN              
-----------------------------------------*/
.section-content{
  height: 100%;
  padding: 90px 0;
}

.section-content > section{
  padding: 0 30px;
  width: 100%;
}

@media(max-width:460px){
  .section-content > section{
    padding: 0 10px;
  }
}

.gap40{
  gap: 40px;
}

.gap20{
  gap: 20px;
}

.gap10{
  gap: 10px;
}

.black {
  color: var(--dark-color);
}

.white{
  color: var(--white-color);
}

.grey{
  color: var(--grey-color) !important;
}

.dark-red{
    color: var(--dark-red-color);
}

.normal-font{
  font-weight: var(--font-weight-normal);
}

.bold-font{
  font-weight: var(--font-weight-bold);
}

.medium-font{
  font-size: var(--middle-font-size);
}

.mini-font{
  font-size: var(--mini-font-size);
}

.small-font{
  font-size: var(--small-font-size);
}

.large-font{
    font-size: var(--large-font-size);
}

.pointer{
  cursor: pointer;
}

.m-width-70{
  min-width: 70px;
}

.m-width-80{
  min-width: 80px;
}

.m-width-100{
  min-width: 100px;
}

.m-width-120{
  min-width: 120px;
}

.height-100{
  height: 100%;
}

.height-100px{
  height: 100px;
}

.height-200px{
  height: 200px;
}

.height-300px{
  height: 300px;
}

/*---------------------------------------
  ICONS        
-----------------------------------------*/

.bi-person-circle {
    width: 25px;
    height: 25px;
    font-size: 25px; /* если используется шрифт для иконок */
}

/*---------------------------------------
  IMAGES         
-----------------------------------------*/

.scale {
  transition: 1s; /* Время эффекта */
}

.scale:hover {
transform: scale(1.2); /* Увеличиваем масштаб */
}

@media(max-width:460px){
  .scale:hover {
    transform: none;
  }
}


.scale_image_parent{
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cover{
  object-fit: cover;
}

/*---------------------------------------
  CONTAINERS            
-----------------------------------------*/

.table{
  display: table;
  align-items: start;
}

.table-row{
  display: table-row;
  align-items: start;
  width: 100%;
  cursor: pointer;
}

.table-row:hover > p{
  color: var(--primary-color);
}

.table-cell{
  display: table-cell;
  padding: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;          
}

.flex-row-center {
  display: flex;
  width: 100%;   
  flex-direction: row;
  justify-content: center;
  align-items: center;       
}

.flex-row > * {          /* Предполагаем, что дочерние элементы - это div */
  flex: 1;               /* Каждый дочерний элемент будет занимать равную долю пространства */
  box-sizing: border-box; /* Учитываем ширину границ и отступов */
}

.flex-row-start {
  display: flex;
  width: 100%;  
  justify-content: start;
  align-items: start;   
  gap: 10px;     
}

.flex-column {     
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.flex-column-start {     
  display: flex;
  flex-direction: column;
  /*margin: auto;*/
  align-items: start;
  justify-content: start;
}


.flex-column > p {
  align-content: center;
}

/*---------------------------------------
  NAVIGATION               
-----------------------------------------*/
.navbar {
  height: 80px;
  padding: 0 20px;
  background: var(--dark-color);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  will-change: transform;
  transition: transform 300ms linear;
}

.headroom--pinned {
  transform: translate(0, 0);
}

.headroom--unpinned {
  transform: translate(0, -150%);
}

.navbar-collapse{
  display: flex;
  align-items: center;
  margin: auto;
  margin-right: 0;
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-nav{
  display: flex;
}

@media (max-width:800px){ 
  .navbar-label{
    display: none;
  }
}

.navbar span, h2 span, h4 span {
	color: var(--primary-color);
}

.nav-link {
  font-family: "Oswald", system-ui;
  padding: 0 20px;
  color: var(--white-color);
  font-size: 16px;
  position: relative;
  height: var(--navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.navbar .nav-link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.navbar .nav-link.active::after, 
.navbar .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: var(--primary-color);
}

.nav-link:focus, 
.nav-link:hover {
  color: var(--p-color);
}

.d-lg-block{
  display: block;
}

/*.custom-icon{
  display: inline-block;
  vertical-align: middle;
  color: var(--white-color);
  font-size: 24px;
}*/

.hamb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.hamb-field{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:8px;
}

.bar{
  width: 20px;
  height: 1px;
  margin: auto;
  background-color: var(--white-color);
  transition: 0.4s;
}

.popup {
  color: var(--dark-color);
  top:var(--navbar-height);
  position: fixed;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  background-color: var(--dark-color); 
}  

.popup-nav-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  gap: 10px;
}

.popup .popup-nav-panel > li {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--white-color);
  width: 100% !important;
}

.popup.open .popup-nav-panel > li{
  justify-content: space-between;
}

.popup .popup-nav-panel > li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--white-color);
}

.popup .popup-nav-panel > li > a:hover {
  color: var(--primary-color);
}

.popup-link{
  display: none !important;
}

.popup.open .popup-nav-panel .popup-item .popup-link{
  display: flex !important;
  flex-grow:1;
}

.popup-icon{
  width: 30px;
  padding: 0  !important;
}

.popup-icon::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.popup-icon.active::after, 
.popup-icon:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.popup .popup-nav-panel > li > a {
  height: 25px;
}

.popup .popup-nav-panel > li > a > img{
  width: 100%;
  height: 25px;
}

.popup.open {
  left: 0;
  width: 300px;
}

.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 50px 0;
  overflow: auto;
}

.hamb-field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb-field.active .bar:nth-child(1) {
  height: 1.5px;
  transform: translateY(8px) rotate(45deg);
}

.hamb-field.active .bar:nth-child(3) {
  height: 1.5px;
  transform: translateY(-8px) rotate(-45deg);
}

body.noscroll {
  overflow: hidden;
}

/*---------------------------------------
  CUSTOM BUTTON & ICON              
-----------------------------------------*/
.custom-btn {
  background: var(--p-color);
  border-radius: 20px;
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  text-transform: uppercase;
  padding: 16.50px 20px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.custom-btn.black{
  background: var(--dark-color);
}

.btn{
  transform: translate(0, 45px)
}

.social-btn {
  background: transparent;
  border: 1px solid var(--grey-color);
  color: var(--dark-color);
  text-transform: none;
}

.social-btn:hover {
  border-color: transparent;
}

.cart-form-select {
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-btn {
  border-radius: 0;
  width: 100%;
  font-size: var(--product-link-font-size);
}

.custom-btn:hover,
.slick-slideshow .custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-icon {
  color: var(--white-color);
  font-size: 24px;
}

.custom-icon {
  display: inline-block;
  vertical-align: middle;
}

.bi-bag.custom-icon {
  font-size: 17px;
}

.featured-icon {
  color: var(--grey-color);
  font-size: 52px;
}

/*---------------------------------------
  LOGO             
-----------------------------------------*/
.navbar-brand {
  display: flex;
  margin: 0;
}

@media (max-width:800px){ 
  .logo{
    display: none;
  }
}

.logo-main{
  font-family: "Merriweather";
  font-size: 20px;
  line-height: 18px;
  color:var(--white-color);
}

.logo-footer{
  font-size: 10px;
  text-align: right;
  margin-right: 20px;
  /*transform: translate(0, -15px);*/
  color: var(--white-color);
  line-height: 15px;
}

.logo.white{
  display: none;
}
/*
.container-logo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
}

@media (max-width:800px){ 

  .navbar-nav{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  .navbar .container{
    justify-content: space-between;
  }

  .logo-main{
    font-family: "Allison";
    font-size: 50px;
    line-height: 35px;
    color: rgb(250, 250, 250);
  }
  
  .logo-footer{
    font-size: 8px;
    text-align: right;
    margin-right: 20px;
    /*transform: translate(0, -15px);*/
/*    color: rgb(250, 250, 250);
  }

}*/
/*---------------------------------------
ADAPTIVE
-----------------------------------------*/
@media(max-width:460px){
  .mobile-none{
    display: none !important;
  }

  .m-width-70{
    min-width: 35px;
  }

  .m-width-80{
    min-width: 40px;
  }

  .m-width-100{
    min-width: 50px;
  }

  .m-width-120{
    min-width: 60px;
  }

  .table-cell{
    padding: 3px;
  }

  p{
    line-height: 20px;
  }
}