:root {
	--body-color:                 #f6f6f6;
	--white-color:                #FFFFFF;
	--primary-color:              #1d9e26;
	--primary-dark-color:         #9fa5a5;
	--section-bg-color:           #f0f8ff;
	--dark-color:                 #000000;
	--grey-color:                 #d0d1d1;
	--light-grey-color:           #f0f0f0;
	--blue-grey-color:            #f3fafa;
	--p-color:                    #e6a009;
	--dark-red-color:             rgb(78, 3, 3);
	--dark-blue-color:            rgb(11, 12, 80);
  
	--body-font-family:           "Oswald", system-ui;
	--title-font-family:          'PT Sans', Helvetica, Arial, sans-serif;
	--catalog-font-family:        'PT Sans', Helvetica, Arial, sans-serif;
	
  
	--navbar-height:          80px;
  
	--section-max-width:          1600px;
  

	--bootstrap-icon-size:         40px;
	--bootstrap-icon-size-medium:  30px;

	--h5-font-size:               24px;
	--p-font-size:                18px;
	--middle-font-size:           16px;
	--p-font-size-mobile:         15px;
	--mini-font-size:             15px;
	--small-font-size:            10px;
	--copyright-text-font-size:   16px;
	--product-link-font-size:     14px;
	--custom-link-font-size:      12px;
	--large-font-size:            22px;
  
	--font-weight-thin:           100;
	--font-weight-light:          300;
	--font-weight-normal:         400;
	--font-weight-bold:           700;
	--font-weight-black:          900;
} 