.customer-account-content {
    font-family: var(--catalog-font-family) !important;
}

.customer-account-content .title{
    font-weight: bold;
    font-size: var(--p-font-size);
    min-height: 38px;
    align-content: center;
}

.order-list-parameters-form ul{
    border-radius: 8px;
    /*min-width: 350px;*/
}

.new-comments-block>li,
.custom-checkbox{
    cursor: pointer;
}

.new-comments-block button{
    font-size: var(--custom-link-font-size);
}