/*.order-item-message-list span{
    color: var(--primary-dark-color);
    font-size: var(--small-font-size);
}

.order-item-message-list .border-secondary{
    border-color: var(--primary-dark-color) !important;
}

.order-item-message-counter{

    width: 24px;
    height: 24px;
    border-radius: 7px;
    border: 0.5px solid var(--primary-dark-color);
}*/

/*BOOTSTRAP*/
/*
.transition-all {
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
}

/* Плавное вращение иконки - исправленный селектор */
/*
.collapse-btn:not(.collapsed) .collapse-icon {
    transform: rotate(180deg);
}

.collapse-btn.collapsed .collapse-icon {
    transform: rotate(0deg);
}

/* Стили для кнопки */
/*
.collapse-btn {
    cursor: pointer;
}*/